body{
    font-family: 'Caveat', cursive;
    background-color: #2b2e32;
    color: white;

}
ul a {
    margin-left: 20px;
    font-weight: 700;
    font-size: 20px;
   
    
}
ul .active{
    color: orange
}

